
.date {   background-color: blue; }
/* .btb-header { } */
/* First level headers */
.rheader {  color: #003366;
  font-size: large;
  font-weight: bold; }

/* Second level headers */
.sheader {  font-weight: bold;
  /* font-size: large; */
  /* background-color: #003366; */
  color: #003366; /* #0DE3FF; */ /* #ffffff; */
  padding: 2px;
  margin-bottom: 0px;
  margin-top: 7px;
  /* border-bottom: #ff6633 2px solid; */
}

/* 3rd level headers, equivalent H3  */
.theader {
  /* background-color: #0DE3FF; */
  color: #003366; /* #FFFFFF; */
  padding: 15px 4px 3px 4px;
  font-size: large;
  font-weight: bold;
}

.bibref {  padding:-3px; padding-left:10px;  vertical-align:top;}
/* .bibtitle { font-weight:bold; } */
.bibbooktitle { font-style:italic; }
/* .bibmenu {display:none} */ /* disables the [bibtex] and the like */
/* .bibanchor {display:none}  /* disables the index [1] or [Name2010], etc. depending on the value of the configuration value ABBRV_TYPE and BIBTEXBROWSER_LAYOUT
/* .theader {display:none} */
/* .sheader {display:none} */  /* disables the year header e.g., 2001 */


/* ------------------------------------------------ */
/* Below are the style for the publication library. */
.searchbox {
    margin-top: 10px;
}

.searchbox a {
    font-size: small;
}

.search {
    margin-bottom: 10px;
}

/*
.header {
    font-family: Verdana;
    font-size: medium;
    color: #000066;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    border: 10 none #000066;
}
*/

.result {
    margin-bottom: 10px;
}

.result td {
    font-size: 15px;
}
